section#faq {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}
section#faq .faq-container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 1.5rem;
  --color: hsl(var(--primary-dark-hsl), 0.5);
  background-color: var(--color);
  box-shadow: 0 0 25px var(--color);
  border-radius: 20px;
  color: aliceblue;
}
.faq-title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  padding: 40px 0;
}
section#faq .faq-container .accordion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
section#faq .faq-container .accordion-item {
  background-color: #283042;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}
section#faq .faq-container .accordion-link {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
section#faq .faq-container .accordion-link ion-icon {
  color: #e7d5ff;
  padding: 0.5rem;
}
section#faq .faq-container .answer {
  overflow: hidden;
  max-height: 0;
  position: relative;
  transition: max-height 650ms;
}
section#faq .faq-container .answer::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 90%;
  background-color: black;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
section#faq .faq-container .answer p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0rem 1rem;
}
section#faq .faq-container .accordion-item:target .answer {
  max-height: 20rem;
}
section#faq .faq-container .accordion-item:target .accordion-link ion-icon.add,
section#faq .faq-container .accordion-link ion-icon.remove {
  display: none;
  transition: 2s ease-in-out;
}
section#faq
  .faq-container
  .accordion-item:target
  .accordion-link
  ion-icon.remove {
  display: block;
}
