/* font-family: "Caveat", cursive;
font-family: "Montserrat", sans-serif; */

section#home h1 {
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  font-size: 7.5rem;
  margin: 110px 0 20px;
}
section#home h1 span {
  font-family: "Montserrat", sans-serif;
  color: #201f1f;
}
section#home h2,
section#home h2 span {
  font-family: "Caveat", cursive;
  color: aliceblue;
  font-size: 3rem;
  margin: 0;
}

section#home h2 span.typed-cursor {
  color: #201f1f;
}
.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
