section#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
  /* margin-bottom: 140px; */
}
section#profile .profile-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  --color: hsl(var(--primary-dark-hsl), 0.5);
  background-color: var(--color);
  box-shadow: 0 0 25px var(--color);
  border-radius: 20px;
  color: aliceblue;
}
section#profile .profile-container .profile-title {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: #fff;
  padding: 40px 0;
}
section#profile .profile-container p.profile-info {
  min-width: 100%;
  opacity: 0.6;
  font-size: 13px;
  text-align: center;
  padding: 0 0 20px 0;
}
.profile-wrapper {
  margin-top: 30px;
  max-width: 1100px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.user-container,
.payments-container,
.summary-container {
  --color: hsl(var(--primary-dark-hsl), 0.5);
  background-color: var(--color);
  box-shadow: 0 0 25px var(--color);
  border-radius: 20px;
  color: aliceblue;
  padding: 40px;
}
.user-container {
  grid-column: 1;
  grid-row: 1 / 6;
  display: flex;
  flex-direction: column;
}
.payments-container {
  grid-column: 2;
  grid-row: 1 / 4;
  padding: 20px;
}
.summary-container {
  grid-column: 2;
  grid-row: 4 / 6;
  padding: 20px;
}

.profile-picture {
  width: 230px;
  height: 240px;
  border-radius: 15px;
  align-self: center;
}
