section#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}
section#profile .profile-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  --color: hsl(var(--primary-dark-hsl), 0.5);
  background-color: var(--color);
  box-shadow: 0 0 25px var(--color);
  border-radius: 20px;
  color: aliceblue;
}
section#profile .profile-container .profile-title {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: #fff;
  padding: 40px 0;
}
section#profile .profile-container p.profile-info {
  min-width: 100%;
  opacity: 0.6;
  font-size: 0.8em;
  text-align: center;
  padding: 0 0 20px 0;
}
section#profile .profile-wrapper p.profile-info {
  min-width: 100%;
  font-size: 0.9em;
  /* text-align: center; */
}
section#profile .profile-wrapper {
  margin-top: 30px;
  max-width: 1100px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.profile-wrapper .user-container,
.profile-wrapper .stats-container,
.profile-wrapper .weather-container {
  --color: hsl(var(--primary-dark-hsl), 0.5);
  background-color: var(--color);
  box-shadow: 0 0 25px var(--color);
  border-radius: 20px;
  color: aliceblue;
  padding: 50px;
}
.profile-wrapper .user-container {
  grid-column: 1;
  grid-row: 1 / 6;
  display: flex;
  flex-direction: column;
  min-width: 535px;
}
.profile-wrapper .user-container .shipping-picture {
  width: 320px;
  height: 320px;
  align-self: center;
}
.profile-wrapper .user-container .misc-info {
  display: flex;
  justify-content: space-between;
}
.profile-wrapper .user-container .user-info {
  margin-top: 40px;
}
.profile-wrapper .user-container .misc-info h1 {
  margin: 0;
  font-size: 22px;
}
.profile-wrapper .user-container .user-info .mail {
  margin: 32px 0;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}
.profile-wrapper .user-container .user-info .sms {
  margin: 32px 0;
  display: flex;
  justify-content: space-between;
}
.profile-wrapper .user-container .user-info .sms label {
  align-self: center;
}

.profile-wrapper .user-container .misc-info-details p:first-child {
  margin-top: 5px;
}
.profile-wrapper .user-container .misc-info-details p {
  opacity: 0.6;
  font-size: 0.9em;
}

.profile-wrapper .user-container .user-info .misc-user-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.profile-wrapper .user-container .user-info .misc-user-details:first-child {
  margin-bottom: 32px;
}
.profile-wrapper .user-container .user-info .misc-user-details form p {
  width: 45%;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.profile-wrapper
  .user-container
  .user-info
  form
  .misc-user-details
  input:nth-child(2) {
  text-align: right;
}
.profile-wrapper .user-container .misc-user-details input[type="text"] {
  color: aliceblue;
  background: none;
  border: none;
  width: 45%;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  height: 25px;
  align-self: center;
}
.profile-wrapper
  .user-container
  form
  .misc-user-details
  input[type="text"]::placeholder {
  color: aliceblue;
  opacity: 0.7;
}
.profile-wrapper .misc-user-details input[type="text"]:focus {
  outline: none;
  --color: hsl(var(--primary-hsl), 1);
  border-bottom: 2px solid var(--color);
}

.profile-wrapper .stats-container {
  grid-column: 2;
  grid-row: 1 / 4;
  min-width: 535px;
}
.profile-wrapper .weather-container {
  grid-column: 2;
  grid-row: 4 / 6;
}
/*TOGGLER*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.user-container .form-update-user-info .save-btn {
  width: 140px;
  border-radius: 5px;
  padding: 10px;
  font-weight: lighter;
  color: white;
  background-color: hsl(var(--primary-hsl), 0.25);
  border: 1px solid hsl(var(--primary-hsl));
  outline: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 32px;
}
.user-container .form-update-user-info .save-btn:hover {
  background-color: hsl(var(--primary-hsl), 0.4);
}
.user-container .form-update-user-info .save-btn:focus {
  border-color: aliceblue;
  border-width: 1.5px;
}
.user-info .form-update-user-info .button-helper {
  min-width: 100%;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  --color: hsl(var(--primary-hsl), 1);
  background-color: var(--color);
}

input:focus + .slider {
  --color: hsl(var(--primary-hsl), 1);
  background-color: var(--color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.profile-wrapper .stats-container,
.profile-wrapper .weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-wrapper .stats-container h1,
.profile-wrapper .weather-container h1 {
  margin: 0 0 1em 0;
  margin: 0;
  font-size: 22px;
}
.profile-wrapper .stats-container .misc-summary-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-width: 100%;
}
.profile-wrapper .stats-container .misc-summary-details p {
  width: 45%;
}
.profile-wrapper .stats-container .misc-summary-details > *:nth-child(2) {
  text-align: right;
}
.profile-wrapper .stats-container .link-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profile-wrapper .stats-container .link-container:hover {
  cursor: pointer;
}
.profile-wrapper .stats-container .link-to-dashboard {
  color: aliceblue;
  display: block;
  opacity: 0.6;
  font-size: 0.8em;
  text-decoration: none;
  margin-right: 30px;
}
.profile-wrapper .stats-container .link-to-dashboard:hover {
  opacity: 1;
}
.profile-wrapper .stats-container ion-icon {
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 45px;
  display: none;
}
.profile-wrapper .stats-container .link-container:hover ion-icon {
  display: block;
  animation-name: slide;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
@keyframes slide {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -20px;
  }
}
