@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --primary-light-hsl: 200, 100%, 91%;
  --primary-hsl: 200, 100%, 50%;
  --primary-dark-hsl: 200, 100%, 6%;
  --success-hsl: 100, 60%, 50%;
  --error-hsl: 0, 60%, 50%;
}
body,
html {
  margin: 0;
  width: 100%;
}
body {
  min-height: 100vh;
}
#full-screen-container {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/hero.jpg"); */

  /* background-color: #31aa72;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%232b9564' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23257f55' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%231e6a47' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23185438' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23123F2A' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E"); */
  /* background-attachment: fixed;
    background-size: cover; */

  /* background-color: rgb(28, 110, 80);
  background-color: rgb(56, 64, 62); */

  background: #f1f2b5;
  background: -webkit-linear-gradient(to right, #135058, #f1f2b5);
  background: linear-gradient(to right, #135058, #3a6252);

  /* background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}
header .logo {
  /* pointer-events: none; */
  cursor: pointer;
}
nav .user span {
  color: aliceblue;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav .guest,
nav .user {
  display: flex;
  position: relative;
}
nav a,
nav span {
  padding: 10px 10px;
  /* margin-right: 5px; */
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;
  font-weight: bold;
  /* box-shadow: 0px 2px 0px hsl(var(--primary-hsl), 0.4);
  box-shadow: 0px 2px 0px #201f1f; */
  border-radius: 2px;
}
nav a:focus,
nav span:focus {
  color: aliceblue;
}
nav .guest .marker,
nav .user .marker {
  position: absolute;
  left: 0;
  height: 6px;
  width: 0px;
  background: #201f1f;
  bottom: -10px;
  transition: 0.5s;
  border-radius: 4px;
}
nav .separator {
  margin: 0;
  padding: 0;
}
