@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --primary-light-hsl: 200, 100%, 91%;
  --primary-hsl: 200, 100%, 50%;
  --primary-dark-hsl: 200, 100%, 6%;
  --success-hsl: 100, 60%, 50%;
  --error-hsl: 0, 60%, 50%;
}
body,
html {
  margin: 0;
}
#full-screen-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
/* #site-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav a,
nav span {
  padding: 10px 10px;
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5rem;
}
nav a:hover,
nav span:hover {
  background: #201f1f;
  border-radius: 8px;
  color: aliceblue;
}
