@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --primary-light-hsl: 200, 100%, 91%;
  --primary-hsl: 200, 100%, 50%;
  --primary-dark-hsl: 200, 100%, 6%;
  --success-hsl: 100, 60%, 50%;
  --error-hsl: 0, 60%, 50%;
}
body,
html {
  margin: 0;
}
#full-screen-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav a,
nav span {
  padding: 10px 10px;
  text-decoration: none;
  /* color: aliceblue; */
  color: black;
  font-size: 1.5rem;
}
nav a:hover,
nav span:hover {
  background: #201f1f;
  border-radius: 8px;
  color: aliceblue;
}
/* nav .guest a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #111;
  color: #111;
  text-decoration: none;
  font-weight: 600;
}
nav .guest a:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: none;
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
  transition-delay: 0.5s;
}
nav .guest a:hover:before {
  transform: scaleY(0);
}
nav .guest a:after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background: none;
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}
nav .guest a:hover:after {
  transform: scaleX(0);
}
nav .guest a span {
  position: relative;
  z-index: 3;
} */
