section#dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
/* section#dashboard .proformas-container,  */
section#dashboard .dashboard-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  --color: hsl(var(--primary-dark-hsl), 0.5);
  background-color: var(--color);
  box-shadow: 0 0 25px var(--color);
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

section#dashboard .proformas-container button,
section#dashboard .dashboard-container button {
  width: 140px;
  border-radius: 5px;
  padding: 10px;
  font-weight: lighter;
  color: white;
  background-color: hsl(var(--primary-hsl), 0.25);
  border: 1px solid hsl(var(--primary-hsl));
  outline: none;
  cursor: pointer;
}
section#dashboard .dashboard-container button {
  align-self: center;
  margin-bottom: 20px;
}
section#dashboard .dashboard-container button:hover {
  background-color: hsl(var(--primary-hsl), 0.4);
}
section#dashboard .dashboard-container .dashboard-title {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: #fff;
  padding: 40px 0;
}
.dashboard-container p {
  min-width: 100%;
  opacity: 1;
  font-size: 13px;
  text-align: center;
}
section#dashboard ul.list {
  min-width: 100%;
  padding: 25px;
  list-style: none;
  /* background-color: #283042; */
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  /* box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section#dashboard ul.list .list-container .list-item {
  background-color: #283042;
  border-radius: 0.4rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}
section#dashboard .list .list-container .list-item li {
  list-style: none;
  font-size: 14px;
}
.list-item-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Тхирд аниматион */

.list-container {
  cursor: pointer;
  font-size: 1rem;
  /* height: 0; */
  list-style: none;
  position: relative;
  text-align: center;
  /* width: 300px; */
  margin-bottom: 20px;
}
.list-container.show:not(:first-child) {
  margin-top: 10px;
}
.list-container .list-item {
  background-color: #d3d3d3;
  /* left: 0; */
  /* opacity: 0; */
  padding: 2rem 0;
  position: absolute;
  /* top: 0; */
  /* transform: translateX(300px); */
  transition: all 1s ease-out;
  /* width: 100%; */
}
.list-container .list-item.show {
  opacity: 1;
  /* transform: translateX(0); */
}

/*фирст аним*/

/* .list-container {
  cursor: pointer;
  font-size: 3.5rem;
  height: 0;
  list-style: none;
  position: relative;
  text-align: center;
  width: 300px;
}
.list-container.show:not(:first-child) {
  margin-top: 10px;
}
.list-container .list-item {
  background-color: #d3d3d3;
  left: 0;
  opacity: 0;
  padding: 2rem 0;
  position: absolute;
  top: 0;
  transform: translateY(-300px);
  transition: all 0.6s ease-out;
  width: 100%;
}
.list-container .list-item.show {
  opacity: 1;
  transform: translateY(0);
} */

/* second animation */

/* .list-container {
  cursor: pointer;
  font-size: 3.5rem;
  height: 0;
  overflow: hidden;
  list-style: none;
  position: relative;
  text-align: center;
  width: 300px;
}
.list-container.show:not(:first-child) {
  margin-top: 10px;
}
.list-container .list-item {
  background-color: #d3d3d3;
  left: 0;
  opacity: 0;
  padding: 2rem 0;
  position: absolute;
  top: 0;
  transition: all 0.6s ease-out;
  width: 100%;
}
.list-container .list-item.show {
  opacity: 1;
} */

/* LOADING ANIMATION */
.lds-roller {
  position: relative;
  width: 80px;
  height: 80px;
  align-self: center;
  margin-top: 30px;
  /* display: none; */
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fed;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* section#dashboard .proformas-container {
  margin: 30px auto 0 auto;
  opacity: 0;
  transition: opacity 1.5s;
} */
/* .active-proformas {
  padding: 1.5rem;
  animation: slideSection1 1.5s ease-out;
} */
/* .inactive {
  display: none;
}
@keyframes slideSection1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
} */
